body {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #D9CDBF;
    overflow:hidden
    /*
    
    text-align: center; 
    */
    }

/*border style*/
.background{
    width: 1200px;
    height: 500px;
    background-color: #d9d0cc3e;
    border-top: 90px solid gray;
    border-bottom: 180px solid gray;
    border-right: 200px solid #B0A59E;
    border-left: 200px solid #B0A59E;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.background_1{
    width: 1200px;
    height: 500px;
    background-color: #c4c4c4;
    /*중앙에서 5px blur하고 20px 크기의 큰 그림자*/
    box-shadow: inset 0px 20px 400px 1px rgb(123, 117, 117), 
        0px 20px 1600px 40px rgb(108, 108, 108);

    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
}